<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center" *ngIf="product !==undefined">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" style="width: 400px; height: 400px;" src={{product.imageUrl}} alt="..." /></div>
            <div class="col-md-6">
                <!-- <div class="small mb-1">SKU: BST-498</div> -->
                <h1 class="display-5 fw-bolder">{{product.productName | slice:0:100}}</h1>
                <div class="fs-5 mb-5">
                    <!-- <span class="text-decoration-line-through">$45.00</span> -->
                    <span>{{product.price | currency:"MYR ":"symbol":"1.2-2"}}</span>
                </div>
                <p class="lead">Description</p>
                <form [formGroup]="form" (ngSubmit)="submit()">
                <!-- Add colour selection -->
                <div class="small mb-1">Colour</div>
                <div class="d-flex" >
                    <div>
                        <input id="blue" type="radio" value="blue" name="colour" formControlName="colour">
                    </div>
                    <div>
                        <input id="yellow" type="radio" value="blue" name="colour" formControlName="colour">
                    </div>
                    <!-- <select formControlName="colour" class="form-control">  
                        <option>Blue</option>  
                        <option>Yellow</option>
                        <option>Red</option>
                    </select> -->
                </div>
                <!-- Add size selection -->
                <div>
                    <div class="small mb-1">Size</div>
                    <select formControlName="size" class="form-control">  
                        <option>Blue</option>  
                        <option>Yellow</option>
                        <option>Red</option>
                    </select>
                </div>

                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                        + Buy Now
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>