<main>
  <article>
    <!-- 
      - #HERO
    -->
    <section class="section hero has-bg-image" id="home" aria-label="home"
      style="background-image: url('assets/images/hero-banner.jpg')">
      <div class="container">
        <h1 class="h1 hero-title">
          <span class="span">High Quality</span> Pet Food
        </h1>
        <p class="hero-text">Sale up to 40% off today</p>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </section>
    <!-- 
      - #CATEGORY
    -->
    <section class="section category" aria-label="category">
      <div class="container">
        
      </div>
    </section>
    <!-- 
      - #OFFERS
    -->
    <section class="section offer" aria-label="offer">
      <div class="container">
        
      </div>
    </section>
    <!-- 
      - #PRODUCT
    -->
    <section class="section product" id="shop" aria-label="product">
      <div class="container">
        
      </div>
    </section>
    <!-- 
      - #SERVICE
    -->
    <section class="section service" aria-label="service">
      <div class="container">
        <img src="assets/images/service-image.png" width="122" height="136" loading="lazy" alt="" class="img">
      </div>
    </section>
    <!-- 
      - #CTA
    -->
    <section class="cta has-bg-image" aria-label="cta" style="background-image: url('assets/images/cta-bg.jpg')">
      <div class="container">
        
      </div>
    </section>
    <!-- 
      - #BRAND
    -->
    <section class="section brand" aria-label="brand">
      <div class="container">
        <h2 class="h2 section-title">
          <span class="span">Popular</span> Brands
        </h2>
        <ul class="has-scrollbar">
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-1.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-2.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-3.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-4.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-5.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>