<main>
  <article>
    <!-- 
      - #HERO
    -->
    <section class="section hero has-bg-image" id="home" aria-label="home"
      style="background-image: url('assets/images/hero-banner.jpg')">
      <div class="container">
        <h1 class="h1 hero-title">
          <span class="span">High Quality</span> Pet Food
        </h1>
        <p class="hero-text">Sale up to 40% off today</p>
        <a href="#" class="btn">Shop Now</a>
      </div>
    </section>
    <!-- 
      - #CATEGORY
    -->
    <section class="section category" aria-label="category">
      <div class="container">
        <h2 class="h2 section-title">
          <span class="span">Top</span> categories
        </h2>
        <ul class="has-scrollbar">
          <li class="scrollbar-item">
            <div class="category-card">
              <figure class="card-banner img-holder" style="--width: 330; --height: 300;">
                <img src="assets/images/category-1.jpg" width="330" height="300" loading="lazy" alt="Cat Food"
                  class="img-cover">
              </figure>
              <h3 class="h3">
                <a href="#" class="card-title">Cat Food</a>
              </h3>
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="category-card">
              <figure class="card-banner img-holder" style="--width: 330; --height: 300;">
                <img src="assets/images/category-2.jpg" width="330" height="300" loading="lazy" alt="Cat Toys"
                  class="img-cover">
              </figure>
              <h3 class="h3">
                <a href="#" class="card-title">Cat Toys</a>
              </h3>
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="category-card">
              <figure class="card-banner img-holder" style="--width: 330; --height: 300;">
                <img src="assets/images/category-3.jpg" width="330" height="300" loading="lazy" alt="Dog Food"
                  class="img-cover">
              </figure>
              <h3 class="h3">
                <a href="#" class="card-title">Dog Food</a>
              </h3>
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="category-card">
              <figure class="card-banner img-holder" style="--width: 330; --height: 300;">
                <img src="assets/images/category-4.jpg" width="330" height="300" loading="lazy" alt="Dog Toys"
                  class="img-cover">
              </figure>
              <h3 class="h3">
                <a href="#" class="card-title">Dog Toys</a>
              </h3>
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="category-card">
              <figure class="card-banner img-holder" style="--width: 330; --height: 300;">
                <img src="assets/images/category-5.jpg" width="330" height="300" loading="lazy"
                  alt="Dog Sumpplements" class="img-cover">
              </figure>
              <h3 class="h3">
                <a href="#" class="card-title">Dog Sumpplements</a>
              </h3>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 
      - #OFFERS
    -->
    <section class="section offer" aria-label="offer">
      <div class="container">
        <ul class="grid-list">
          <li>
            <div class="offer-card has-bg-image img-holder"
              style="background-image: url('assets/images/offer-banner-1.jpg'); --width: 540; --height: 374;">
              <p class="card-subtitle">Selected Items. Online Only.</p>
              <h3 class="h3 card-title">
                Hot Summer <span class="span">Deals</span>
              </h3>
              <a href="#" class="btn">Read More</a>
            </div>
          </li>
          <li>
            <div class="offer-card has-bg-image img-holder"
              style="background-image: url('assets/images/offer-banner-2.jpg'); --width: 540; --height: 374;">
              <p class="card-subtitle">Treats & Grooming</p>
              <h3 class="h3 card-title">
                Spoil your true <span class="span">love</span>
              </h3>
              <a href="#" class="btn">Read More</a>
            </div>
          </li>
          <li>
            <div class="offer-card has-bg-image img-holder"
              style="background-image: url('assets/images/offer-banner-3.jpg'); --width: 540; --height: 374;">
              <p class="card-subtitle">Our Brand You Will Love</p>
              <h3 class="h3 card-title">
                New in this <span class="span">year</span>
              </h3>
              <a href="#" class="btn">Read More</a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 
      - #PRODUCT
    -->
    <section class="section product" id="shop" aria-label="product">
      <div class="container">
        <h2 class="h2 section-title">
          <span class="span">Best</span> Seller
        </h2>
        <ul class="grid-list">
          <li>
            <div class="product-card">
              <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                <img src="assets/images/product-1.jpg" width="360" height="360" loading="lazy"
                  alt="Commodo leo sed porta" class="img-cover default">
                <img src="assets/images/product-1_0.jpg" width="360" height="360" loading="lazy"
                  alt="Commodo leo sed porta" class="img-cover hover">
                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                  <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
              <div class="card-content">
                <div class="wrapper">
                  <div class="rating-wrapper">
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                  </div>
                  <span class="span">(1)</span>
                </div>
                <h3 class="h3">
                  <a href="#" class="card-title">Commodo leo sed porta</a>
                </h3>
                <data class="card-price" value="15">$15.00</data>
              </div>
            </div>
          </li>
          <li>
            <div class="product-card">
              <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                <img src="assets/images/product-2.jpg" width="360" height="360" loading="lazy"
                  alt="Purus consequat congue sit" class="img-cover default">
                <img src="assets/images/product-2_0.jpg" width="360" height="360" loading="lazy"
                  alt="Purus consequat congue sit" class="img-cover hover">
                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                  <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
              <div class="card-content">
                <div class="wrapper">
                  <div class="rating-wrapper gray">
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                  </div>
                  <span class="span">(0)</span>
                </div>
                <h3 class="h3">
                  <a href="#" class="card-title">Purus consequat congue sit</a>
                </h3>
                <data class="card-price" value="45">$45.00</data>
              </div>
            </div>
          </li>
          <li>
            <div class="product-card">
              <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                <img src="assets/images/product-3.jpg" width="360" height="360" loading="lazy"
                  alt="Morbi vel arcu scelerisque" class="img-cover default">
                <img src="assets/images/product-3_0.jpg" width="360" height="360" loading="lazy"
                  alt="Morbi vel arcu scelerisque" class="img-cover hover">
                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                  <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
              <div class="card-content">
                <div class="wrapper">
                  <div class="rating-wrapper gray">
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                  </div>
                  <span class="span">(0)</span>
                </div>
                <h3 class="h3">
                  <a href="#" class="card-title">Morbi vel arcu scelerisque</a>
                </h3>
                <data class="card-price" value="45">$45.00</data>
              </div>
            </div>
          </li>
          <li>
            <div class="product-card">
              <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                <img src="assets/images/product-4.jpg" width="360" height="360" loading="lazy"
                  alt="Morbi vel arcu scelerisque" class="img-cover default">
                <img src="assets/images/product-4_0.jpg" width="360" height="360" loading="lazy"
                  alt="Morbi vel arcu scelerisque" class="img-cover hover">
                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                  <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
              <div class="card-content">
                <div class="wrapper">
                  <div class="rating-wrapper gray">
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                  </div>
                  <span class="span">(0)</span>
                </div>
                <h3 class="h3">
                  <a href="#" class="card-title">Morbi vel arcu scelerisque</a>
                </h3>
                <data class="card-price" value="49">$49.00</data>
              </div>
            </div>
          </li>
          <li>
            <div class="product-card">
              <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                <img src="assets/images/product-5.jpg" width="360" height="360" loading="lazy"
                  alt="Morbi vel arcu scelerisque" class="img-cover default">
                <img src="assets/images/product-5_0.jpg" width="360" height="360" loading="lazy"
                  alt="Morbi vel arcu scelerisque" class="img-cover hover">
                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                  <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
              <div class="card-content">
                <div class="wrapper">
                  <div class="rating-wrapper gray">
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                  </div>
                  <span class="span">(0)</span>
                </div>
                <h3 class="h3">
                  <a href="#" class="card-title">Morbi vel arcu scelerisque</a>
                </h3>
                <data class="card-price" value="85">$85.00</data>
              </div>
            </div>
          </li>
          <li>
            <div class="product-card">
              <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                <img src="assets/images/product-6.jpg" width="360" height="360" loading="lazy"
                  alt="Nam justo libero porta ege" class="img-cover default">
                <img src="assets/images/product-6_0.jpg" width="360" height="360" loading="lazy"
                  alt="Nam justo libero porta ege" class="img-cover hover">
                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                  <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
              <div class="card-content">
                <div class="wrapper">
                  <div class="rating-wrapper gray">
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                  </div>
                  <span class="span">(0)</span>
                </div>
                <h3 class="h3">
                  <a href="#" class="card-title">Nam justo libero porta ege</a>
                </h3>
                <data class="card-price" value="85">$85.00</data>
              </div>
            </div>
          </li>
          <li>
            <div class="product-card">
              <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                <img src="assets/images/product-7.jpg" width="360" height="360" loading="lazy"
                  alt="Nam justo libero porta ege" class="img-cover default">
                <img src="assets/images/product-7_0.jpg" width="360" height="360" loading="lazy"
                  alt="Nam justo libero porta ege" class="img-cover hover">
                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                  <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
              <div class="card-content">
                <div class="wrapper">
                  <div class="rating-wrapper gray">
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                  </div>
                  <span class="span">(0)</span>
                </div>
                <h3 class="h3">
                  <a href="#" class="card-title">Nam justo libero porta ege</a>
                </h3>
                <data class="card-price" value="85">$85.00</data>
              </div>
            </div>
          </li>
          <li>
            <div class="product-card">
              <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                <img src="assets/images/product-8.jpg" width="360" height="360" loading="lazy"
                  alt="Etiam commodo leo sed" class="img-cover default">
                <img src="assets/images/product-8_0.jpg" width="360" height="360" loading="lazy"
                  alt="Etiam commodo leo sed" class="img-cover hover">
                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                  <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
              <div class="card-content">
                <div class="wrapper">
                  <div class="rating-wrapper gray">
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                  </div>
                  <span class="span">(0)</span>
                </div>
                <h3 class="h3">
                  <a href="#" class="card-title">Etiam commodo leo sed</a>
                </h3>
                <data class="card-price" value="55">$55.00</data>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 
      - #SERVICE
    -->
    <section class="section service" aria-label="service">
      <div class="container">
        <img src="assets/images/service-image.png" width="122" height="136" loading="lazy" alt="" class="img">
        <h2 class="h2 section-title">
          <span class="span">What your pet needs,</span> when they need it.
        </h2>
        <ul class="grid-list">
          <li>
            <div class="service-card">
              <figure class="card-icon">
                <img src="assets/images/service-icon-1.png" width="70" height="70" loading="lazy"
                  alt="service icon">
              </figure>
              <h3 class="h3 card-title">Free Same-Day Delivery</h3>
              <p class="card-text">
                Order by 2pm local time to get free delivery on orders $35+ today.
              </p>
            </div>
          </li>
          <li>
            <div class="service-card">
              <figure class="card-icon">
                <img src="assets/images/service-icon-2.png" width="70" height="70" loading="lazy"
                  alt="service icon">
              </figure>
              <h3 class="h3 card-title">30 Day Return</h3>
              <p class="card-text">
                35% off your first order plus 5% off all future orders.
              </p>
            </div>
          </li>
          <li>
            <div class="service-card">
              <figure class="card-icon">
                <img src="assets/images/service-icon-3.png" width="70" height="70" loading="lazy"
                  alt="service icon">
              </figure>
              <h3 class="h3 card-title">Security payment</h3>
              <p class="card-text">
                25% off your online order of $50+. Available at most locations.
              </p>
            </div>
          </li>
          <li>
            <div class="service-card">
              <figure class="card-icon">
                <img src="assets/images/service-icon-4.png" width="70" height="70" loading="lazy"
                  alt="service icon">
              </figure>
              <h3 class="h3 card-title">24/7 Support</h3>
              <p class="card-text">
                Shop online to get orders over $35 shipped fast and free.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 
      - #CTA
    -->
    <section class="cta has-bg-image" aria-label="cta" style="background-image: url('assets/images/cta-bg.jpg')">
      <div class="container">
        <figure class="cta-banner">
          <img src="assets/images/cta-banner.png" width="900" height="660" loading="lazy" alt="cat" class="w-100">
        </figure>
        <div class="cta-content">
          <img src="assets/images/cta-icon.png" width="120" height="35" loading="lazy" alt="taste guarantee"
            class="img">
          <h2 class="h2 section-title">Taste it, love it or we’ll replace it… Guaranteed!</h2>
          <p class="section-text">
            At Petio, we believe your dog and cat will love their food so much that if they don’t … we’ll help you
            find a
            replacement. That’s our taste guarantee.
          </p>
          <a href="#" class="btn">Find out more</a>
        </div>
      </div>
    </section>
    <!-- 
      - #BRAND
    -->
    <section class="section brand" aria-label="brand">
      <div class="container">
        <h2 class="h2 section-title">
          <span class="span">Popular</span> Brands
        </h2>
        <ul class="has-scrollbar">
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-1.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-2.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-3.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-4.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
          <li class="scrollbar-item">
            <div class="brand-card img-holder" style="--width: 150; --height: 150;">
              <img src="assets/images/brand-5.jpg" width="150" height="150" loading="lazy" alt="brand logo"
                class="img-cover">
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>