<div class="card">
  <div class="card-header">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <form [formGroup]="form">
        <table class="table">
          <thead>
            <tr>
              <th>Product Image</th>
              <th>Product Name</th>
              <th>Product Colour</th>
              <th>Product Type</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal (MYR)</th>
              <th hidden>Delete</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of cart">
            <tr *ngIf="!product.deleted_at">
              <td>
                <img [src]="product.url" alt="Product Image" class="product-image" [style.width.px]="imageWidth" [style.margin.px]="imageMargin" />
              </td>
              <td>{{ product.name }}</td>
              <td>{{ product.color }}</td>
              <td>{{ product.size }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.price * product.quantity }}</td>
              <td><button mat-button color="primary" type="button" class="bi bi-trash orange-color" (click)="onDelete(product.id)"></button></td>
    </tr>
    </tbody>
    </table>
    <div class="content">
      Total: RM {{ total }}<br /><br />
      <button class="btn btn-primary" (click)="open()">Checkout</button>
    </div>
    </form>
  </div>
  </div>
</div>
