<!-- Header-->
<header class="bg-avanade-light py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">SHOP HERE</h1>
            <p class="lead fw-normal text-white-50 mb-0">Easy online shopping platform</p>
        </div>
    </div>
  </header>
  <!-- Section-->
  <!-- <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="listFilter" />
        </div>
      </div> -->
      
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <!-- Search Bar -->
      <div class="btn-group" role="group" aria-label="Button group">
        <select class="form-select" [(ngModel)]="selectedOption" (ngModelChange)="onSelectionChange()">
          <option value="">All</option>
          <option value="collar">Collar</option>
          <option value="harness">Harness</option>
          <option value="leads">Leads</option>
        </select>        
      <input  class="input-group-text" type="text" [(ngModel)]="listFilter"/>
    </div>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of filteredProducts">
                <div class="card h-100">
                    <!-- Product image-->
                    
                    <div class="card-banner img-holder" style="--width: 360; height: 245.5px;">
                      <img style="cursor: pointer;" [routerLink]="['/products', product.productId]" class="card-img-top" [src]="product.imageUrl" alt="..." />
                    </div>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 style="cursor: pointer;" [routerLink]="['/products', product.productId]" class="fw-bolder">{{product.productName}}</h5>
                            <!-- Product price-->
                            {{product.price | currency:"MYR ":"symbol":"1.2-2"}}
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
          <app-pagination
            (goPage)="goToPage($event)"
            (goPrev)="goToPrevious()"
            (goNext)="goToNext()"
            [page]="page"
            [perPage]="limit"
            [count]="total">
        </app-pagination>
    </div>
  </section>
  