<header class="header" data-header>
    <div class="container">
      <button class="nav-toggle-btn" aria-label="toggle manu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true" class="menu-icon"></ion-icon>
        <ion-icon name="close-outline" aria-label="true" class="close-icon"></ion-icon>
      </button>
      <a routerLink="/products" class="logo">Team 2</a>
      <nav class="navbar" data-navbar>
        <ul class="navbar-list">
          <li class="navbar-item">
            <a routerLink="/welcome" class="navbar-link" data-nav-link>Home</a>
          </li>
          <li class="navbar-item">
            <a routerLink="/products" class="navbar-link" data-nav-link>Shop</a>
          </li>
          
        </ul>
        <a href="#" class="navbar-action-btn">Log In</a>
      </nav>
      <div class="header-actions">
        <!-- <button class="action-btn" aria-label="Search">
          <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
        </button> -->
        <button class="action-btn user" aria-label="User">
          <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
        </button>
        <button class="action-btn" aria-label="cart">
          <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
          <span class="btn-badge">0</span>
        </button>
      </div>
    </div>
  </header>

  

  

    