<header>
  <div class="container">
    <a routerLink="/products" class="logo fw-bold fs-1">Team2Shop</a>
    <nav class="navbar" data-navbar>
      <ul class="navbar-list mb-0">
        <li class="navbar-item">
          <a routerLink="/products" class="navbar-link fw-semibold" data-nav-link>Products</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/products" class="navbar-link fw-semibold" data-nav-link>Reports</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/cart" class="navbar-link fw-semibold" data-nav-link>Cart</a>
        </li>
      </ul>
      <a href="#" class="navbar-action-btn">Log In</a>
    </nav>
    <div class="header-actions">
      <div *ngIf="isLoggedIn; else loggedOut">
        <button class="action-btn" >
          <span class="fs-3"><fa-icon icon="shopping-cart" routerLink="/cart" style="color:#DC4600"></fa-icon></span>
          <!--<span class="btn-badge">0</span>-->
        </button>
      </div>
      <ng-template #loggedOut>
        <button class="action-btn" >
          <span class="fs-4"><fa-icon icon="user"></fa-icon>&nbsp;&nbsp;Log In</span>
        </button>
      </ng-template>
    </div>
  </div>
</header>

  

  

