<header class="header" data-header>
    <div class="container">
      <button class="nav-toggle-btn" aria-label="toggle manu" data-nav-toggler>
        
      </button>
      <a routerLink="/products" class="logo">Team 2</a>
      <nav class="navbar" data-navbar>
        <ul class="navbar-list">
          <li class="navbar-item">
            <a routerLink="/products" class="navbar-link" data-nav-link>Shop</a>
          </li>
          
        </ul>
        <a href="#" class="navbar-action-btn">Log In</a>
      </nav>
      <div class="header-actions">
        <button class="action-btn user" aria-label="User">
        </button>
        <button class="action-btn" aria-label="cart">
          <span class="btn-badge">0</span>
        </button>
      </div>
    </div>
  </header>

  

  

    