<div class="card m-4">
    <div class="card-header">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-between">
            <div class="d-flex" >
                <div style="margin-right: 10px;">Filter :</div>
                <div>
                    <input type="text" [(ngModel)]="listFilter" />
                </div>
            </div>
            <button class="btn btn-primary" routerLink="/admin/product/create">
              Add Product
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" *ngIf="products.length">
          <thead>
            <tr>
              <th></th>
              <th>Product</th> 
              <th>Category</th>
              <th>Price</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody *ngFor="let product of filteredProducts" >
            <tr *ngIf="!product.deleted_at" [routerLink]="['/admin/product', product.productId]" class="hover-overlay">
              <td>
                <img *ngIf="showImage" [src]="product.url" [title]="product.name" [style.width.px]="imageWidth" [style.margin.px]="imageMargin" />
              </td>
              <td>
                {{product.name}}
              </td>
              <td>{{ product.product_category.name }}</td>
              <td>{{ product.product_variants[0]?.price || '0' | currency:"RM ":"symbol":"1.2-2"}}</td>
              <td><button mat-button color="primary" type="button" class="bi bi-trash orange-color" (click)="onDelete(product.id)"></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>