<div class="m-4 px-3 fs-2">
  {{pageTitle}}
</div>

<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="mb-5">
      <div class="card m-4">
        <div class="card-header fs-4">
          Product Details
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group mb-4 col-6">
              <label for="name" class="mb-2">Name</label>
              <input type="text" class="form-control" name="name" formControlName="name" placeholder="Product Name">
            </div>
            <div class="form-group mb-3 col-6">
              <label for="price" class="mb-2">Price</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">RM</span>
                </div>
                <input type="number" class="form-control" name="price" formControlName="price" required>
              </div>
            </div>
            <div class="form-group mb-4 col-6">
              <label for="description" class="mb-2">Description</label>
              <textarea class="form-control" name="description" formControlName="description" rows="3" placeholder="Product Description"></textarea>
            </div>
            <div class="form-group mb-4 col-6">
              <label for="productCategoryId" class="mb-2">Product Category</label>
              <select name="productCategoryId" formControlName="productCategoryId" class="form-select" >
                <option [value]="" name="productCategoryId"></option>
                <option [value]="1" name="productCategoryId">Cat</option>
                <option [value]="2" name="productCategoryId">Dog</option>
              </select>
            </div>
            <div class="form-group mb-3 col-6">
              <label for="sizingType" class="mb-2">Sizing Type</label>
              <div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sizingType" formControlName="sizingType" value="length" [checked]="false" (click)="onItemChange('length')">
                  <label class="form-check-label" for="sizingType" class="fs-4">
                    Length
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sizingType" formControlName="sizingType" value="size" [checked]="false" (click)="onItemChange('size')">
                  <label class="form-check-label" for="sizingType" class="fs-4">
                    Size
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card m-4" [hidden]="hideVariantDiv">
        <div class="card-header fs-4">
          <div class="row">
            <div class="col">
              <div class="d-flex justify-content-between">
                <div>
                  Product Variants
                </div>
                <div>
                  <button *ngIf="productVariants().length > 1" type="button" class="btn btn-primary" (click)="removeQuantity()">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <button class="btn btn-primary" type="button" (click)="addQuantity()">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div formArrayName="productVariants">
          <div class="card-body bg-light m-2" *ngFor="let productVariant of productVariants().controls;  let i=index" [formGroupName]="i">
            <div class="row">
              <div class="form-group mb-3 col-4">
                <label for="color" class="mb-2">Color</label>
                <input type="text" class="form-control" name="color" formControlName="color" placeholder="Product Color">
              </div>
              
              <div class="form-group mb-3 col-4" [hidden]="hideLengthDiv">
                <label for="length" class="mb-2">Length</label>
                <div class="input-group">
                  <input type="number" min="0" class="form-control" name="length" formControlName="length" required>
                  <div class="input-group-prepend">
                    <span class="input-group-text">CM</span>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3 col-4" [hidden]="hideSizeDiv">
                <label for="size" class="mb-2">Size</label>
                <input type="text" class="form-control" name="size" formControlName="size" required>
              </div>
              <div class="form-group mb-3 col-4">
                <label for="quantity" class="mb-2">Quantity</label>
                <input type="number" min="0" class="form-control" name="quantity" formControlName="quantity" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card m-4">
        <div class="card-header fs-4">
          Product Attachments
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group mb-4 col-6">
              <label for="" class="mb-2">Image Upload</label>
              <pm-file-upload></pm-file-upload>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="m-4">
    <div class="card-footer d-flex justify-content-between">
      <button class="btn btn-primary" (click)="onBack()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <button type="submit" class="btn btn-primary align-self-end">Submit</button>
    </div>
  </div>
</form>