<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>

  <section class="section category" aria-label="category">
    <div class="container">
      <ul class="grid-list">
        <li  *ngFor="let product of filteredProducts">
          <div class="product-card">
            <div class="card-banner img-holder" style="--width: 360; --height: 360;">
              <img [src]="product.imageUrl" width="360" height="360" loading="lazy"
                [alt]="product.productName" class="img-cover default">
              <img [src]="product.imageUrl" width="360" height="360" loading="lazy"
                [alt]="product.productName" class="img-cover hover">
              <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>
            <div class="card-content">
              <div class="wrapper">
                <div class="rating-wrapper">
                  <pm-star [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)"></pm-star>
                </div>
                <span class="span">(1)</span>
              </div>
              <h3 class="h3">
                <a href="#" class="card-title">{{product.productName}}</a>
              </h3>
              <data class="card-price" value="15">{{product.price | currency:"MYR":"symbol":"1.2-2"}}</data>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </section>
</div>
